body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: rgb(15, 14, 23);
  --bg-color-muted: rgba(15, 14, 23, 0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: content-box;
}

body, html {
  margin: 0;
}

.dark-bg, #root {
  background-color: var(--bg-color);
}

.ratio-2x3 {
  --bs-aspect-ratio: calc(3 / 2 * 100%); /* height / width * 100 */
}

.page-link span {
  background-color: transparent;
}
